<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CBDTS</display-name>
  <error-page>
    <error-code>404</error-code>
    <location>/common/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/common/500.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.cbdts.services.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reg</display-name>
    <servlet-name>Reg</servlet-name>
    <servlet-class>com.cbdts.services.Reg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reg</servlet-name>
    <url-pattern>/Reg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.cbdts.services.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutoLogin</display-name>
    <servlet-name>AutoLogin</servlet-name>
    <servlet-class>com.cbdts.services.AutoLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoLogin</servlet-name>
    <url-pattern>/AutoLogin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadInfo</display-name>
    <servlet-name>LoadInfo</servlet-name>
    <servlet-class>com.cbdts.services.LoadInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadInfo</servlet-name>
    <url-pattern>/LoadInfo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPassword</display-name>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>com.cbdts.services.ResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/ResetPassword.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInfo</display-name>
    <servlet-name>UpdateInfo</servlet-name>
    <servlet-class>com.cbdts.services.UpdateInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInfo</servlet-name>
    <url-pattern>/UpdateInfo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrContact</display-name>
    <servlet-name>MgrContact</servlet-name>
    <servlet-class>com.cbdts.mgrservice.MgrContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrContact</servlet-name>
    <url-pattern>/MgrContact.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DctCommon</display-name>
    <servlet-name>DctCommon</servlet-name>
    <servlet-class>com.cbdts.mgrservice.DctCommon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DctCommon</servlet-name>
    <url-pattern>/DctCommon.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCommon</display-name>
    <servlet-name>UserCommon</servlet-name>
    <servlet-class>com.cbdts.mgrservice.UserCommon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCommon</servlet-name>
    <url-pattern>/UserCommon.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Carousel</display-name>
    <servlet-name>Carousel</servlet-name>
    <servlet-class>com.cbdts.mgrservice.Carousel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Carousel</servlet-name>
    <url-pattern>/Carousel.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Article</display-name>
    <servlet-name>Article</servlet-name>
    <servlet-class>com.cbdts.mgrservice.Article</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Article</servlet-name>
    <url-pattern>/Article.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookCommon</display-name>
    <servlet-name>BookCommon</servlet-name>
    <servlet-class>com.cbdts.mgrservice.BookCommon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookCommon</servlet-name>
    <url-pattern>/BookCommon.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadBookList</display-name>
    <servlet-name>LoadBookList</servlet-name>
    <servlet-class>com.cbdts.services.LoadBookList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadBookList</servlet-name>
    <url-pattern>/LoadBookList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCenter</display-name>
    <servlet-name>UserCenter</servlet-name>
    <servlet-class>com.cbdts.services.UserCenter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCenter</servlet-name>
    <url-pattern>/UserCenter.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Order</display-name>
    <servlet-name>Order</servlet-name>
    <servlet-class>com.cbdts.services.Order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order</servlet-name>
    <url-pattern>/Order.do</url-pattern>
  </servlet-mapping>
</web-app>