* {
    font-family: "Microsoft YaHei UI";
}

body {
    background: url("../images/regbg.jpg") center -128px;
}

.back {
    float: left;
    position: fixed;
    top: 1.5rem;
    left: 2rem;
}

.back img {
    width: 3.5rem;
    height: 3.5rem;
}

.form-rpw-heading {
    margin-bottom: 24px;
    color: #ffffff;
    text-decoration: none;
}

.form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;

    opacity: 0.85;
    -moz-opacity: 0.85;
    filter: alpha(opacity=85);
}

.form-top {
    margin-bottom: -1px;
    -webkit-border-radius: 0.8rem 0.8rem 0 0;
    -moz-border-radius: 0.8rem 0.8rem 0 0;
    border-radius: 0.8rem 0.8rem 0 0;
}

.form-bottom {
    -webkit-border-radius: 0 0 0.8rem 0.8rem;
    -moz-border-radius: 0 0 0.8rem 0.8rem;
    border-radius: 0 0 0.8rem 0.8rem;
    margin-bottom: 10px;
}

.resetpw {
    max-width: 330px;
    margin: 15% auto 0 auto;
}

dl.step {
    width: 110px;
    text-align: center;
    float: left;
}

dl.step.currstep dt {
    background-color: #ffffff;
    color: #8d360b;
}

dl.step.currstep dd {
    font-weight: bold;
    color: #ffffff;
}

#next-step,
#reset-step {
    opacity: 0.9;
    -moz-opacity: 0.9;
    filter: alpha(opacity=90);

    border-radius: 0.8rem;
}

dl.step dt {
    background-color: rgba(255, 255, 255, 0.66);
    margin: 0 auto;
    color: #8d360b;
    width: 1.5rem;
    border-radius: 0.75rem;
}

dl.step dd {
    color: rgba(255, 255, 255, 0.66);
}

#resetpw-msg {
    color: #ffffff;
    font-size: 21px;
    margin: 120px 0 24px 0;
    text-align: center;
}

#step-form1 {
    display: block;
}

#step-form2 {
    display: none;
}

#step-form3 {
    display: none;
}

div.log-footer {
    text-align: center;
    width: 100%;
    color: #ffffff;
    padding: 12px;
}
